// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {

	--font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-small: 12px;
  
  --primary-color: #255C99;
  --header-bg: #7EA3CC;
// --primary-color: #E5989B;
//--header-bg: #E5989B;

  --home-link-color: #255C99;
  --home-link-hover-color:  var(--primary-color);
  //--home-link-color: #B5838D;
  //--home-link-hover-color:  var(--primary-color);

  --button-color: #255C99;
  --button-alternate-color: #7EA3CC;
  // --button-color: #6D6875;
  // --button-alternate-color: #E5989B;

  --post-link-color: #6D6875;
  // --post-link-color: #6D6875;


  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0,0,0,0.5);

  --label-text: rgba(0,0,0,0.5);
  --input-focus-border: #83AAAC;
  
  // CSS Grid Utility
  --grid-gap: 30px; 

}